footer.footer{
    width: 1230px;
}
nav.header {
    width: 1230px;
}
section.menu {
    width: 1230px;
}
section.education {
    width: 1230px;
}

section.kids-loved {
    width: 1230px;
}
section.about-us {
    width: 1230px;
}
section.key-features {
    width: 1230px;
}
section.innovative-method {
    width: 1230px;
}
section.enroll-your-child {
    width: 1230px;
}
section.about-us-education {
    width: 1230px;
}
section.facility {
    width: 1230px;
}
section.contact {
    width: 1230px;
}
div.lower-layer {
    width: 1230px;
}
div.innovative-mothod {
    margin: auto;
}
span.close{
    display: none;
}